.menu_bar{
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    
}
.menu_container{
    display: flex;
    justify-content: left;  
    text-align: center;

}

.menu_appname{
    font-weight: bold;
    font-size: large;
}


