.video_title{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 30px;
}
.video_table > div {
  box-sizing: border-box;
  background: blanchedalmond;
  display: flex;
  flex-direction: column;
  width: 82.9vw;
  text-align: left;

}
.video_comment_list{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}