.video {
  margin-top: 30px;
  width: 90%;
}
.video_modal_title_sub {
  display: flex;
  margin-bottom: 30px;
  justify-content: end;
}

.video_comment_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding : 0 10px;
  border-radius: 10px;
  background: white;
  width: 80%;
  height: auto;
  margin: 5px auto;
}

.video_modal_like {
  margin-right: 30px;
}

.video_modal_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_modal_content > span {
  margin-left: 70%;
}



.video_containor{
  display: flex;
  flex-direction: column;
}

.video_page {
  width: 100%;
  height: 100%;
}

.video_title{
  text-align: left;
  padding-left : 115px;
}

.video_comment_user{
  margin: 10px 0;
  font-weight: bold;
}

.video_comment_content{
  margin-bottom : 10px 0;
}